<article class="maxwidth-wrap content-grid">

  <div id="hero">
    <div class="layer"><h1>mural — collective</h1></div>
  </div>

  <section class="home-grid">
    <div>
      <h2>Building creative communities one mural at a time.</h2>
    </div>

    <div>
      <p><span class="sup">01</span><br>murals in<a href="#portland" alt="Go to portland page"><br>portland</a></p>
    </div>

    <div>
      <p><span class="sup">02</span><br>murals in<a href="#brooklyn" alt="Go to brooklyn page"><br>brooklyn</a></p>
      
    </div>

  </section>
</article>